deploy.sh
public/*
!public/wp-content/
public/wp-content/*
!public/wp-content/plugins/
public/wp-content/plugins/*
!public/wp-content/plugins/workshops/
!public/wp-content/themes/
public/wp-content/themes/*
!public/wp-content/themes/workshops/
public/wp-content/themes/workshops/assets/css/styles.css
public/wp-content/themes/workshops/assets/js/packaged.js