/* Vars */
@colour_black: rgba(0, 0, 0, .85);
@colour_blue: rgba(89, 177, 255, 1);
@colour_green: rgba(123, 229, 215, 1);

/* Reset CSS */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal; // FF3/4 have !important on line-height in UA stylesheet
  *overflow: visible; // Inner spacing ie IE6/7
}
button::-moz-focus-inner,
input::-moz-focus-inner { // Inner padding and border oddities in FF3/4
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; // Cursors on all buttons applied consistently
  -webkit-appearance: button; // Style clicable inputs in iOS
}
input[type="search"] { // Appearance in Safari/Chrome
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; // Inner-padding issues in Chrome OSX, Safari 5
}
textarea {
  overflow: auto; // Remove vertical scrollbar in IE6-9
  vertical-align: top; // Readability and alignment cross-browser
}

/* Fonts */
.georgia
{
	font-family: Georgia, Times, sans;
	.italic;
}

/* Less Classes */
.animation(@name, @time:1s, @delay:1s, @repeat:1, @dir:normal) 
{
	-webkit-animation: @time @delay @name @repeat @dir;
	-moz-animation: @time @delay @name @repeat @dir;
	-ms-animation: @time @delay @name @repeat @dir;
	-o-animation: @time @delay @name @repeat @dir;
	animation: @time @delay @name @repeat @dir;
}
.background-clip(@prop)
{
	-webkit-background-clip: @prop;
	-moz-background-clip: @prop;
	background-clip: @prop;
}
.box-shadow(@colour:rgba(255, 255, 255, 1), @xdir:2px, @ydir:2px, @blur:0px)
{
	box-shadow: @xdir @ydir @blur @colour;
}
.cols(@count:2, @gap:20px)
{
	-moz-column-count: @count;
	-moz-column-gap: @gap;
	-webkit-column-count: @count;
	-webkit-column-gap: @gap;
	column-count: @count;
	column-gap: @gap;
}
.corners(@radius:3px)
{
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.ease(@prop:all, @time:1s)
{
	-webkit-transition-property: @prop;
	-webkit-transition-duration: @time;
	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-property: @prop;
	-moz-transition-duration: @time;
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-o-transition-property: @prop;
	-o-transition-duration: @time;
	-o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	transition-property: @prop;
	transition-duration: @time;
	transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.glow(@colour:#000000, @size:5px, @x:0, @y:0)
{
	-webkit-box-shadow: @x @y @size @colour; 
	-moz-box-shadow: @x @y @size @colour; 
	box-shadow: @x @y @size @colour;
}
.gradient(@colour_from:#FFFFFF, @colour_to:#BBBBBB, @dir:bottom)
{
	background-image: linear-gradient(@dir, @colour_from, @colour_to);
	background-image: -o-linear-gradient(@dir, @colour_from, @colour_to);
	background-image: -moz-linear-gradient(@dir, @colour_from, @colour_to);
	background-image: -webkit-linear-gradient(@dir, @colour_from, @colour_to);
	background-image: -ms-linear-gradient(@dir, @colour_from, @colour_to);
}
.gradient-radial(@colour_from:#FFFFFF, @colour_to:#BBBBBB, @p_from:0%, @p_to:100%)
{
	background-image: -moz-radial-gradient(center, ellipse cover, @colour_from @p_from, @colour_to @p_to);
	background-image: -webkit-radial-gradient(center, ellipse cover, @colour_from @p_from,@colour_to @p_to);
	background-image: -o-radial-gradient(center, ellipse cover, @colour_from @p_from,@colour_to @p_to);
	background-image: -ms-radial-gradient(center, ellipse cover, @colour_from @p_from,@colour_to @p_to);
	background-image: radial-gradient(center, ellipse cover, @colour_from @p_from,@colour_to @p_to);
}
.transform(@trans)
{
	-webkit-transform: @trans;
       -moz-transform: @trans;
        -ms-transform: @trans;
         -o-transform: @trans;
            transform: @trans;
}
.sprite
{
	background: url(../image/sprite.png) no-repeat;
}
.text-shadow(@colour:#000000, @xdir:0px, @ydir:1px, @blur:0px)
{
	text-shadow: @xdir @ydir @blur @colour;
}

/* Classes */
.absolute
{
	display: block;
	position: absolute !important;
}
.amp
{
	font-family: 'Alice';
}
.bold
{
	font-weight: bold !important;
}
.caps
{
	text-transform: uppercase;
}
.clearfix
{
	display: block;
	clear: both;
	width: 100%;
}
.fixed
{
	display: block;
	position: fixed !important;
}
.grey
{
	color: #999999;
}
.hide
{
	display: none !important;
	visibility: hidden !important;
}
.italic
{
	font-style: italic;
}
.left
{
	display: block;
	float: left !important;
}
.noselect
{
	user-select: none; 
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none;
}
.padding
{
	padding: 10px;
}
.relative
{
	display: block;
	position: relative !important;
}
.right
{
	display: block;
	float: right !important;
}
.show
{
	display: block;
	visibility: visible !important;
}
.top
{
	z-index: 2147483647;
}

/* Structure Classes */

/* Tags */
body,
html
{
	margin: 0;
	padding: 0;
}
a,
body,
div,
h1,
h2,
h3,
p
{
	font-family: Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 9pt;
	line-height: 13pt;
}
a
{
	.ease(e('color, border-bottom'), .3s);
	font-size: 9pt;
	line-height: normal;
}
a:link,
a:visited
{
	color: #666666;
	border-bottom: 1px solid #666666;
	text-decoration: none;
}
a:hover,
a:active
{
	color: #999999;
	border-bottom: 1px solid #999999;
	text-decoration: none;
}
em
{
	font-style: italic;
}
h1,
h2,
h3
{
	.bold;
	line-height: normal;
	color: @colour_black;
}
h1
{
	font-size: 44pt;
	letter-spacing: -5px;
}
h2
{
	font-size: 18pt;
}
h3
{
	font-size: 16pt;
	letter-spacing: -2px;
}
input,
textarea
{
	width: 200px;
}
h1,
h2,
h3,
p
{
	margin: 10px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child
{
	margin-top: 0;
}
strong
{
	font-weight: bolder;
}

/* Structure */
#gradient,
#rainbow
{
	.fixed;
	width: 100%;
	height: 100%;
}
#gradient
{
	.gradient(rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, .5));
}
#rainbow
{
	background: -moz-linear-gradient(45deg, @colour_blue 0%, rgba(125,185,232,1) 33%, rgba(123,208,229,1) 61%, @colour_green 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,@colour_blue), color-stop(33%,rgba(125,185,232,1)), color-stop(61%,rgba(123,208,229,1)), color-stop(95%,@colour_green)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, @colour_blue 0%,rgba(125,185,232,1) 33%,rgba(123,208,229,1) 61%,@colour_green 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, @colour_blue 0%,rgba(125,185,232,1) 33%,rgba(123,208,229,1) 61%,@colour_green 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, @colour_blue 0%,rgba(125,185,232,1) 33%,rgba(123,208,229,1) 61%,@colour_green 95%); /* IE10+ */
	background: linear-gradient(45deg, @colour_blue 0%,rgba(125,185,232,1) 33%,rgba(123,208,229,1) 61%,@colour_green 95%); /* W3C */
}
#container
{
	.relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 80px 20px;
}
#header
{
	.relative;
	
	h1,
	h3
	{
		text-align: center;
	}
	h1 em,
	h3
	{
		font-weight: normal !important;
		.georgia;
	}
	h3
	{
		letter-spacing: -1px;
	}
	#header_line
	{
		.absolute;
		width: 100%;
		height: 1px;
		background: rgba(0, 0, 0, .2);
		top: 50%;
	}
}
#menu
{
	.fixed;
	.top;
	width: 100%;
	height: 40px;
	.gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .5));
	
	#menu_inner
	{
		.relative;
		max-width: 960px;
		margin: 0 auto;
		
		ul
		{
			
			li
			{
				a
				{
					.left;
					border: none;
					font-size: 11pt;
					color: #ffffff;
					padding: 11px 15px;
				}
				a:hover
				{
					color: @colour_blue;
				}
			}
			li:last-child
			{
				a
				{
					.right;
					.bold;
				}
			}
		}
		#searchform
		{
			.right;
		}
	}
}
#searchform
{
	label,
	button
	{
		.hide;
	}
}

/* Browser specific */

/* Media queries */